<div class="content">
      
    <div class="containe">
        <div class="logo">
            <img src="/assets/logo2.svg" alt="">
            <h4>Stay in touch</h4>
            <div class="social">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-google"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
            </div>
        </div>
        <div class="links">
            <div>
                <h5>Quick Links</h5>
                <a href="">About</a>
                <a href="">Home</a>
                <a href="">Pricing</a>
                <a href="">Location</a>
                <a href="">Office</a>
            </div>
                
        </div>
    </div>

    <div class="containe">
        <div class="links">
            <div>
                <h5>Hours</h5>
                <p>Monday:       9:00 - 18:00</p>
                <p>Tuesday:         9:00 - 18:00</p>
                <p>Wednesday:         9:00 - 18:00</p>
                <p>Thursday:         9:00 - 18:00</p>
                <p>Friday:         9:00 - 18:00</p>
            </div>
        </div>
        <div class="links">
            <div>
                <h5>Contact</h5>
                <p><i class="fa fa-phone"></i> 000-000-000</p>
                <p><i class="fa fa-envelope"></i> info@email.com</p>
                <p><i class="fa fa-map-marker"></i> New York, US</p>
            </div>
        </div>
    </div>

</div>