<div class="content">

    <div class="des">
        <div class="contain">
            <h2>SOCIAL MEDIA</h2>
            <h1>FOR BUSINESS!</h1>
            <P>PERFOMANCE BASED SOCIAL MEDIA AGENCY
               <br> WE ARE LOREM MEDIA</P>
             <button class="btn btn-primary">GET A FREE AUDIT</button>  
        </div>
    </div>
    <div class="images">
        <img class="shape" src="/assets/header-shape.svg" alt="">
        <img class="group" src="/assets/header-group.svg" alt="">
    </div>  

</div>
