
.content{
    margin-top: 30px;
    background-image: url(/assets/what_we_offer_bg.svg);
    background-size: cover;
    padding-bottom: 20px;
}
h2{
    font-size: 50px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 2rem;
    margin-top: 50px;
    padding: 5%;
    box-shadow: 0px 0px 38px -5px rgba(126, 118, 249,0.1);
    min-height: 350px;

    h4 {
        font-size: 1.2rem;
        margin-top: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
  
    .btn{
        align-self: flex-end;
    }

    p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
}



@media screen and (max-width: 500px){

    .content{
        margin-top: 103px;
        flex-direction: column;
    }
    h2 {
        font-size: 43px;
        text-align: center;
    }
}