<div class="content">
    <div class="img">
            <img src="/assets/who-we-are-img.svg" alt="">
    </div>
    <div class="who_we_are">
        <img src="/assets/who-we-are-bg.svg" alt="">
        <div class="des">
            <div class="contain">
                <h2>Who we are</h2>
                <p>
                    Lorem Media is a full-service social media agency. We offer businesses innovative solutions that deliver the right type of audience to you in the most effective strategies possible. We strive to develop a community around your business, polishing your branding, and improving your public relations.
    Social Media is now one of the most powerful marketing tools with the ability to communicate with a target audience in real time.
    
    It's 2019: time to sink or swim.
    
    We are your Social Media Marketing Agency.
                </p>
            </div>
        </div>
    </div>
</div>
